<div id="about">
    <div id="about-col-1">
        <div id="about-text">
            <h1>{{user.name}}</h1>
            <h6 style="color: aqua;">{{user.profession}}</h6>
            <!-- thinking about removing the seperate contact page -->
            <div id="contact-links">
                Contact Me: 
                <a href="https://www.linkedin.com/in/nikhil-bhardwaj-9b3579286/" target="_blank"><i
                        class="fa-brands fa-linkedin"></i></a>
                <a href="https://github.com/BhardwajNkl" target="_blank"><i class="fa-brands fa-github"></i></a>
            </div>
            <!-- <div class="tagline">"{{user.tagline}}"</div> -->
             <div>#Thinking #Responsible #Hardworking</div>
             
        </div>
        <div id="about-image">
            <img src="assets/img100.webp" alt="image" width="50%">
        </div>
    </div>
    <div id="about-col-2">
        <div class="introduction mt-3">
            <p *ngFor="let introductionParagraph of user.introduction">{{introductionParagraph}}</p>
        </div>
        <hr>
        <div class="what-i-do">
            <span [ngStyle]="{color:'aqua', fontWeight:'bold'}">Why you should take chance on me:</span>
            <ul>
                <li>I write clean code.</li>
                <li>I am quite good at finding bugs/errors and fixing them.</li>
                <li>New problems do not intimidate me. I often come up with some way to solve them.</li>
                <li>Flexible employee. Can work on newer fronts, not only because I can learn them, but because I want to work in different environments and I can give extra hours comfortably on learning.</li>
            </ul>
            <span [ngStyle]="{color:'aqua',fontWeight:'bold'}">Little more about me:</span>
            <ul>
                <li>In free time, I play chess and read articles on psychology.</li>
                <li>I love to teach whatever I know well.</li>
            </ul>
        </div>
    </div>

</div>