<div id="about" class="slide-in">
    <div id="about-col-1">
        <div id="about-text">
            <h1>{{user.name}}</h1>
            <h6 style="color: aqua;">{{user.profession}}</h6>
            <!-- thinking about removing the seperate contact page -->
            <div id="contact-links">
                Contact Me: 
                <a href="https://www.linkedin.com/in/nikhil-bhardwaj-9b3579286/"><i
                        class="fa-brands fa-linkedin"></i></a>
                <a href="https://github.com/BhardwajNkl"><i class="fa-brands fa-github"></i></a>
            </div>
            <!-- <div class="tagline">"{{user.tagline}}"</div> -->
             <div>#Thinking #Responsible #Hardworking</div>
             
        </div>
        <div id="about-image">
            <img src="assets/img100.webp" alt="image" width="50%">
        </div>
    </div>
    <div id="about-col-2">
        <div class="introduction mt-3">
            <p *ngFor="let introductionParagraph of user.introduction">{{introductionParagraph}}</p>
        </div>
    </div>

</div>