/* about should be horizontal for large screens and vertical for small screens */
#about{
    margin-top: 5vh;
    padding: 5pt;
    /* 
    it is sitting on top of app-component and it has no overriding style for background color.
    So, we can use that same background color. 
    */
    color:rgb(226 232 240);
    display: flex;
}

/* direct children of about */
#about-col-1{
    flex: 0.5;
    font-size: 15pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#about-col-2{
    flex: 0.5;
}

/* direct children of about-col-1 */
.tagline{
    color:rgb(148 163 184);
}

#about-image {
    img{
    border-radius: 50%;
    }
}

/* direct children of about-col-2 */
.introduction{
    padding: 5pt;
}
