/* page-layout: There is one div element with bootstrap class 'container-fluid' inside which I have a row.
Then this row has three columns.
All the content that is displayed on this page, is basically put in the middle column.
This middle column has a class of 'main-content'.
*/

.container-fluid{
    background-color:rgb(15 23 42);
    color: white;
}

/* .main-content{

} */

.section-title{
    font-family: 'Times New Roman', Times, serif;
    color:rgb(226 232 240);
}

hr{
    color: aqua;
}