<div id="bites-container">
    <div id="bites" class="mt-2">
        <div class="mt-4 p-5 text-center" *ngIf="bites.length==0">
            <h1>NO BITES FOUND!</h1>
        </div>
        <div class="card bite mt-4" *ngFor="let bite of bites">
            <div class="card-body">
                <h4 class="card-title bite-title">{{bite.title}}</h4>
                <span class="bite-timestamp">Posted on: {{bite.timestamp}}</span><br>
                <p class="card-text bite-text">
                    {{bite.biteText}}
                </p>
            </div>
        </div>

    </div>
</div>