#bites-container{
    margin-top: 5vh;
    padding: 5pt;
    color:rgb(226 232 240);
}

.bite{
    background-color:rgb(15 23 42);
    color:rgb(226 232 240);

    /* border: 1px solid;
    border-color: rgb(148 163 184) */
}

.bite:hover{
    color: white;
    /* border-color: aqua; */
}

.bite-title{
    color:rgb(226 232 240);
}

.bite-timestamp{
    color:rgb(148 163 184);
}

.bite-text{
    padding: 4pt;
    border: 1px solid;
    border-color: rgb(148 163 184);
    border-radius: 10pt;
}