#project-count{
    margin-top: 10px;
    font-weight: bold;
}
#projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-gap: 20px;
    padding-top: 5px;
}

.project{
    background-color: rgb(15 30 50);
    color:rgb(226 232 240);
    border-radius: 20px;
    box-shadow: 1px 1.5px 3px rgb(15 30 50);
}

.project:hover{
    color: white;
    /* border-color: aqua; */
}

.source-code-link{
    text-decoration: none;
    color: greenyellow;
}

.live-link{
    text-decoration: none;
    color: orange;
}

.tech-stack, .source-code{
    margin-top: 2px;
}

.source-code-link:hover, .live-link:hover{
    color:yellowgreen;
}

.card-title{
    color: cyan;
}

.tech-stack, .live-url, .rating{
    color: orange;
    /* font-weight: bold; */
}

.source-code{
    color: greenyellow;
    font: bold;
}


@media (max-width:380px){
    #projects{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }   
}