<h5 id="project-section-header">Featured Projects</h5>
<div id="projects">
    <div class="card project" *ngFor="let project of projects">
        <!-- Currently, not showing GitHub URL or Live URL. -->
        <img [src]="'assets/'+project.imageName" class="project-img" alt="project-image">
        <div class="card-body">
            <h5 class="card-title"> {{project.title}} </h5>
            <p class="card-text">
                 {{project.description}}
            </p>
        </div>
    </div>
</div>