#nav-bar{
    display: flex;
    color: #ffffff;
    border-bottom: solid 3pt;
    border-bottom-color: aqua;
}

.nav-link{
    margin-left: 5pt;
    padding: 3pt;
    font-size: 14pt;
    color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
}

.nav-link:hover{
    color: cyan;
}