<div id="about-container" class="mt-2">
    <app-about [user]="user"></app-about>
</div>
<hr>
<h4 class="section-title mt-2">Skills</h4>
<div id="skills-container" class="mt-2">
    <app-skills [skillFilters]="skillFilters" [skills]="skills"></app-skills>
</div>
<hr>
<h4 class="section-title mt-2">Personal Projects/POCs</h4>
<div id="projects-container" class="mt-2">
    <app-projects [projects]="projects"></app-projects>
</div>
<hr>
<h4 class="section-title mt-2">Let's connect!</h4>
<div id="contact-container" class="mt-2 mb-4">
    <app-contact [user]="user"></app-contact>
</div>