<h6 class="text-white text-center">Add Bite</h6>

<form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
    <div class="form-group mt-2">
      <label for="title">Title:</label>
      <input type="text" class="form-control" id="title" name="title" [(ngModel)]="formData.title" required>
    </div>
    
    <div class="form-group mt-2">
      <label for="biteText">Bite Text:</label>
      <textarea rows="5" class="form-control" id="biteText" name="biteText" [(ngModel)]="formData.biteText" required></textarea>
    </div>
  
    <div class="form-group mt-2">
      <label for="keywords">Keywords:</label>
      <input type="text" class="form-control" id="keywords" name="keywords" [(ngModel)]="formData.keywords" required>
    </div>

    <div class="form-group mt-2">
        <label for="category">Category:</label>
        <input type="text" class="form-control" id="category" name="category" [(ngModel)]="formData.category" required>
    </div>
  
    <button type="submit" class="btn btn-primary mt-2" [disabled]="myForm.invalid">Submit</button>
  </form>