#skill-filter-container{
    display: flex;
    gap: 10pt;
    flex-wrap: wrap;

    padding-left: 10pt;
}

.skill-filter:hover{
    color: aqua;
    cursor: pointer;
}

/* the below class is for showing which filter is active */
.active{
    /* padding-left: 2pt; */
    /* padding-right: 2pt; */
    border-bottom: 1pt solid;
    border-color: aqua;
    color: aqua;
    cursor: pointer;
}

#skills{
    /* creates a grid layout where the columns will adjust automatically based on the available space, with each column being at least 250 pixels wide and expanding evenly to fill any additional space beyond that */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px;
    padding: 5pt;
}

.skill{
    background-color:rgb(15 23 42);
    color:rgb(226 232 240);

    border: 1px solid;
    border-color: rgb(148 163 184)
}

.skill ul{
    padding-left: 5pt;
}

.skill:hover{
    color: white;
    border-color: aqua;
}

