.slide-in {
    opacity: 0;
    transform: translateX(-50%);
    animation: slideIn 3s forwards;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


#skill-filter-container{
    display: flex;
    gap: 10pt;
    flex-wrap: wrap;
    margin-top: 10px;
    font-weight: bold;
}

.skill-filter:hover{
    color: aqua;
    cursor: pointer;
}

.active{
    border-bottom: 1pt solid;
    border-color: aqua;
    color: aqua;
    cursor: pointer;
}

#skills{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-gap: 20px;
    padding-top: 5px;
}

.skill{
    background-color: rgb(15 30 50);
    color:rgb(226 232 240);
    border-radius: 20px;
    box-shadow: 1px 1.5px 3px rgb(15 30 50);
}

.skill:hover{
    color: white;
    border-color: aqua;
}

.card-title{
    color: cyan;
}

.skill-expertise{
    color: orange;
    font-weight: bold;
}

/* ul{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;

    list-style: circle;
    list-style-position: inside;
} */

.keyword-container{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 4px;
}
.keyword{
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 5px;
    /* background-color: lightgrey;
    color: red; */
    background-color: orange;
    color: white;
}

/* for extra small screens */
@media (max-width:380px){
    .slide-in{
        animation: slideIn 2s forwards;
    }
    
    #skills{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }   
}
