#skill-section-header {
  margin-top: 20px;
}

#skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 1rem;
}

.skill {
  background-color: rgb(15 30 50);
  color: rgb(226 232 240);
  padding: 2rem;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-title {
  color: cyan;
}

.skill:hover {
  transform: translateY(-5px);
}

.keyword-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.keyword {
  padding: 0.5rem 1rem;
  background-color: rgb(30, 45, 80);
  border-radius: 2rem;
  font-size: 0.9rem;
  color: white;
  transition: all 0.3s ease;
}

.keyword:hover {
  background-color: rgb(30, 45, 150);
  color: white;
  transform: translateY(-2px);
}

/* for extra small screens */
@media (max-width:380px) {
  #skills {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}