<div id="skill-filter-container">
    <!-- <span class="skill-filter" *ngFor="let skillFilter of skillFilters" (click)="filterSkills(skillFilter.filter)" > -->
    <span [class.skill-filter]="activeFilter!=skillFilter.filter" [class.active]="activeFilter==skillFilter.filter" *ngFor="let skillFilter of skillFilters" (click)="filterSkills(skillFilter.filter)" >
    {{skillFilter.filter}}
    </span>
</div>
<div id="skills" class="mt-2">
    <div class="card skill" *ngFor="let skill of skillToDisplay">
        <div class="card-body">
            <h5 class="card-title">{{skill.title}}</h5>
            Level: <i>{{skill.expertise}}</i><br>
            <span class="card-text">
                <!-- show first 150 characters only and give a see more link -->
                <!-- {{skill.description.substring(0,150)}} <a href="#" *ngIf="skill.description.length>150" >see more</a> -->
                <!-- <ul>
                    <li *ngFor="let sentence of skill.description | splitByFullStop; let i ">{{ sentence }}</li>
                </ul> -->
                <ul>
                    <ng-container *ngFor="let sentence of skill.description | splitByFullStop; let i = index">
                      <li *ngIf="i < 2">{{ sentence }}</li>
                    </ng-container>
                </ul>
            </span>
            <!-- Related projects: <i>{{skill.associatedProjects}}</i><br> -->
        </div>
    </div>
</div>