<div id="skill-filter-container">
    <span [class.skill-filter]="activeFilter!=skillFilter.filter" [class.active]="activeFilter==skillFilter.filter" *ngFor="let skillFilter of skillFilters" (click)="filterSkills(skillFilter.filter)" >
    {{skillFilter.filter}}
    </span>
</div>
<div id="skills" class="mt-2 slide-in">
    <div class="card skill" *ngFor="let skill of skillToDisplay">
        <div class="card-body">
            <h5 class="card-title">{{skill.title}}</h5>
            <i class="skill-expertise">Level: {{skill.expertise}}</i><br>
            <span class="card-text">
                <!-- show first 150 characters only and give a see more link -->
                {{skill.description}}
            </span>
            <!-- key words -->
             <div class="keyword-container">

                 <span class="keyword" *ngFor="let key of skill.keyWords">{{key}}</span>
                 
             </div>
        </div>
    </div>
</div>